## 1] Control structure
- Input(user input)

In [1]:
score = input('Enter the current score: ')    #* shows kernel is busy
# by default 'input' takes statement as string

Enter the current score: 10

In [2]:
x = 20

In [3]:
x   #integer value

20

In [4]:
score     #string value

'10'

In [5]:
type(score)

str

In [6]:
score = int(input('Enter the current score: '))
# making it integer

Enter the current score: 10

In [7]:
score   #integer value

10

In [8]:
type(score)

int

## 2] Conditional statements
- if else
- if
- elif - multiple conditions

In [9]:
number = int(input('Enter any number: '))

Enter any number: 0

In [10]:
if number >= 0:
    print('User has entered a positive number: ', number)
    
#only if condition given

User has entered a positive number:  0

In [11]:
if number >= 0:
    print('User has entered a positive number: ', number)
else:
    print('User has entered negative number: ', number)
    
#both condition given

User has entered a positive number:  0

In [12]:
if number > 0:
    print('User has entered a positive number: ', number)
elif number == 0:
    print('User has entered 0')
else:
    print('User has entered negative number: ', number)

User has entered 0

## 3] Looping statements:
- while
- for loop
- looping over all datatypes

## 3.1] while

In [13]:
index = 1
while index <= 10:
    print(index)
    index = index+1
    #index +=1    #same as above

1
2
3
4
5
6
7
8
9
10

In [14]:
#odd numbers

index = 1
while index <= 10:
    print(index)
    index = index+2
    #index +=2    #same as above

1
3
5
7
9

In [15]:
r = list(range(1,10,2))
r

[1, 3, 5, 7, 9]

## 3.2] for

In [16]:
for num in r:
    print(num)

1
3
5
7
9

In [17]:
comName =['amazon','flipkart','snapdeal','myntra']
print(comName)

['amazon', 'flipkart', 'snapdeal', 'myntra']

In [18]:
##convert names to websites

for name in comName:
    print('www.' +name+'.com')       #concat

www.amazon.com
www.flipkart.com
www.snapdeal.com
www.myntra.com

In [19]:
##convert names to websites

websites = []                        #empty list

for name in comName:                 #name is temp variable-iterator
    name = 'www.' +name+'.com'       #concat and assign object
    websites.append(name)            
    
websites

['www.amazon.com', 'www.flipkart.com', 'www.snapdeal.com', 'www.myntra.com']

In [20]:
vk={'name':'Virat', 'age' :'30', 'team':'RCB'}
vk

{'name': 'Virat', 'age': '30', 'team': 'RCB'}

In [21]:
#iterate dictionary 

for i in vk:    #bydefault gives keys
    print(i)

name
age
team

In [22]:
#iterate dictionary 

for i in vk.values():    #for values
    print(i)

Virat
30
RCB

In [23]:
#iterate dictionary 

for i in vk.items():    #both  value and keys
    print(i)
    
#bydefault it gives in tuple

('name', 'Virat')
('age', '30')
('team', 'RCB')

In [24]:
#iterate dictionary 

for i, j in vk.items():    #multiple iterator
    print(i,j)
    
#bydefault it gives in tuple

name Virat
age 30
team RCB

In [25]:
#iterate dictionary 

for i, j in enumerate(vk):    #enumerate print index values too
    print(i,j)
    
#bydefault it gives in tuple

0 name
1 age
2 team

## 4] Break statement

In [26]:
for i in range(1,11):
    print(i)
    if i ==5:
        break        #stops once conditon satisfy

1
2
3
4
5

## 5] Continue statement

In [27]:
for i in range(1,11):
    if i%2 == 0:            #even numbers
        print(i)

2
4
6
8
10

In [28]:
for i in range(1,11):
    if i%2 == 0:            #odd number
        continue            # condition true- continue
    print(i)                # condition false- print

1
3
5
7
9

## 6] Pass statement

In [29]:
for i in range(1,11):

IndentationError: expected an indented block (3360398912.py, line 1)

In [30]:
for i in range(1,11):
    pass

## Excercise 
- Take an input from user and print teh reverse of the number
- input = 123
- output =321

In [32]:
num = input('number: ', )
print('reverse: ',num[::-1])

number: 123
reverse:  321

In [33]:
num = input('number: ', )
print('reverse: ',num[::-1])

number: 24763
reverse:  36742

In [34]:
#write a program to get sum of all the elements inside list 
#numbers can be 1,2,3
#output = 6

In [35]:
num= [1,2,3]
sum(num)

6

In [36]:
result = 0
for i in num:
    result +=i
print(result)

6